.App {
  text-align: center;
}

nav{
  display:flex;
  justify-content:space-around;
  align-items: center;
  min-height: ;
  background-color: teal;
  color: white;
}
.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-links li{
 list-style: none;
}
